  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <%= form_for Item.new, html: { class: "form-inline add_item_form"} do |f|  %>
          <div class="form-group"> 
            <%= f.label :url, '商品URL : ', class: "add_item_label" %>
            <%= f.text_field :url, class: 'form-control input-lg', size: 50 %>
          </div>
            <%= f.submit '追加', class: 'add_item_btn btn btn-success btn-lg' %>
      <% end %>
    </div>
  </div>