/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1 {
 	font-size: calc(80% + 2vw);
 }
 h2 {
 	font-size: calc(60% + 1.8vw);
 }
 .item_img {
 	text-align: center;
 }
 .item_img img {
 	height: calc(40px + 2vw);
 	width: auto;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 }
 .item_name {
 	font-size: calc(30% + 0.9vw);
 }
 .item_price {
 	text-align: right;
 	font-size: calc(70% + 1.0vw);
 }
 .item_row {
 	letter-spacing: -0.4em;
 	vertical-align: middle;
 }
 .item_row > [class*='col-'] {
 	display: inline-block;
 	letter-spacing: 0;
 	vertical-align: middle;
 	float: none !important;
 }
 .total_price {
 	font-size: calc(150% + 2vw);
 }
 .add_item_form {
  text-align: center;
  font-size: calc(30% + 1.3vw);
 }
 .delete_button {
  font-size: 1;
 }
 
 .new_added_item{
  background-color: #AAFF8E;
 }